
#settings-wrapper {
    position: relative;
    height: 100%;
    min-width: 22%;
    min-width: 200px;
    max-width: 78%;
    transition: transform 0.5s ease-out;
    padding: 5px 0;
}

#settings-toggler {
    position: absolute;
    top: 0;
    left: 0px;
    height: var(--header-height);
    width: var(--header-height);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3px;
    display: none;
    z-index: 200;
}

.aside-move-left {
    transform: translateX(0);
}

.theme-dark #settings-wrapper {
    background: rgb(39, 39, 39);
    color: #cccccc;
}

.theme-dark #settings-wrapper input, 
.theme-dark #settings-wrapper select, 
.theme-dark #settings-wrapper option {
    background-color: #444444;
    border: none;
    color: #cccccc;
    padding: 3px 0;
    -moz-appearance: none; /* Gecko */
}

.theme-dark #settings-wrapper input {
    background-color: #444444;
    border: none;
    padding: 3px;
}

/* input[type=range] */
.theme-dark input[type=range] {
  height: 18px;
  -webkit-appearance: none;
  margin: 0px 0;
  background-color: rgb(39, 39, 39);
  padding: 0;
}
.theme-dark input[type=range]:focus {
  outline: none;
}
.theme-dark input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #50555C;
}
.theme-dark input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 14px;
  width: 19px;
  background: #529DE1;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}

/* FF */
.theme-dark input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #50555C;
  border: 0px solid #000000;
}
.theme-dark input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  border-radius: 0;
  height: 14px;
  width: 19px;
  background: #529DE1;
  cursor: pointer;
}
/* end input[type=range] */

@media only screen and (max-width: 768px) {
    #settings-toggler {
        display: flex;
    }

    #settings-wrapper {
        z-index: 150;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 80%;
        max-width: 270px;
        background: white;
        padding-top: var(--header-height);
    }

    .aside-move-right {
        transform: translateX(0);
    }
    
    .aside-move-left {
        transform: translateX(-100%);
    }
}

#settings-items {
    width: 100%;
    padding: 0 10px 10px 10px;
    overflow: auto;
    height: 100%;
}

#settings-toggler div {
    width: 90%;
    border: 3px solid #5F99B3;
    transition: transform 1s ease-out;
}

.settings-toggler-open > div:first-of-type {
    transform: rotate(45deg) translate(10px, 10px);
}

.settings-toggler-open > div:nth-of-type(3) {
    transform: rotate(-45deg) translate(10px, -10px);
}

.settings-toggler-open > div:nth-of-type(2) {
    transform: scale(0);
}

#settings-wrapper label {
    display: block;
    margin: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: visible;
}
#settings-wrapper label.flex-direction-column {
    flex-direction: column;
}

#settings-wrapper label.flex-wrap {
    flex-wrap: wrap;
}

#settings-wrapper label.flex-wrap input {
    width: 100%;
}

#settings-wrapper label input {
    padding: 0 3px;
}

#settings-wrapper #notification-permission-state {
    min-width: 70px;
}

#settings-wrapper #version-label {
    color: rgba(0, 0, 0, 0.7);
}

.theme-dark #settings-wrapper #version-label {
    color: rgba(204, 204, 204, 0.7);
}